// 4- make the gallery
// 1- make the layout CHECK
// 2- make it change 4 times: mobile port, mobile land, large port, large land.
// 5- make the gallery react
// 6- make animations
// 7- make animations react

@import url("https://fonts.googleapis.com/css?family=Overpass:200,400,700");

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

// header
header {
  background: #393f44;
  color: white;
  min-height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

button {
  border: none;
  background: none;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  text-align: left;
  cursor: pointer;

  > * {
    margin-right: .5rem;
  }
}

// Main
main {
  background: #fff;
}

//Nav
ul {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
  border-bottom: 1px solid #fff;
  padding: 1rem 2rem;
}

nav {
  position: absolute;
  top: 4rem;
  background-color: black;
  width: 100vw;
  bottom: 0;
  transform: translateX(-100vw);

  // If the devie is capable of producing smooth animations
  // then add an animation.
  @media (update: fast) {
    transition: .6s transform ease-in-out;
  }
}

.open {
  transform: translateX(0);
}
