// Mini reset and typography
@import url("https://fonts.googleapis.com/css?family=Overpass:200,400,700");

body, html, .container {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  line-height: 1.5;
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  padding: 2rem;
  border: 2px solid red;
}

@media (pointer: fine) {
  label {
    padding: 0;
  }
}
