// 4- make the gallery
// 1- make the layout CHECK
// 2- make it change 4 times: mobile port, mobile land, large port, large land.
// 5- make the gallery react
// 6- make animations
// 7- make animations react

@import url("https://fonts.googleapis.com/css?family=Overpass:200,400,700");


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  @media (orientation: landscape) {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
  }
}

header {
  background: #393f44;
  padding: 3rem 2rem;
  color: white;

  a {
    color: #fafafa;
  }

  h1 {
    margin: 0 0 1rem 0;
    font-size: 2.25rem;
  }

  p {
    font-weight: 300;
    // color: #ededed;
    font-size: .8rem;
  }
}

main {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: .25rem;
  padding: 1rem;
}

// Card styles
.card {
  min-height: 4em;
  background-color: white;
  // border: 1px solid lightgrey;
  position: relative;
  // padding: .3rem;
  transition: .2s transform ease-in-out;

  img {
    width: 100%;
    display: block;
  }

  &:hover {
    transform: scale3d(1.2, 1.2, 1) rotate(5deg);
    z-index: 2;
    box-shadow: 0 0.2rem 1rem -0.2rem rgba(0, 0, 0, 0.5);
  }
}

/* This is where the magic happens */
input[type="checkbox"] {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media (pointer: coarse) {
  input[type="checkbox"] {
    height: 2em;
    width: 2em;
  }
}

/* Use z-index to make it accessible to keyboard navigation */
@media (hover: hover) {
  input[type="checkbox"] {
    z-index: -1;
  }

  .card:hover input[type="checkbox"],
  input[type="checkbox"]:focus,
  input[type="checkbox"]:checked {
    z-index: auto;
  }
}
